html {
    font-size: 10pt;;
}
.webform-body {
    padding-top: 150px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 150px;
}

.btn-form {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #EB6112;
    color: white;
}

.highlight-span {
    font-weight: bold;
}

.test-info {
    margin-top: 15px;
    margin-bottom: 15px;;
}